{% from 'field.html' import render_field %}
{% extends 'base.html' %} {% block content %}
<div class="home" style="background-image: url('/static/images/home.jpg')">
  <div class="home-form-container py-3 py-md-5 px-2 px-md-4">
    <form action="{{ url_for("movies_page") }}" class="home-form card row py-md-3 px-md-3" method="POST">
      <div class="card-body">
        <h5 class="card-title fw-bold text-center h2 mb-5">
          Welcome to Movie Recommender
        </h5>
        <div class="col-md-12 mb-3">
          {{ render_field(form.movie_title, class="form-control form-control--dark", placeholder=form.movie_title.label.text, id="movie_title") }}
        </div>
        <div class="col-md-6 mb-3">
          {{ render_field(form.movie_genre, class="form-select form-select--dark", id="genre") }}
        </div>
        <div class="col-md-12 mb-3">
          {{ form.submit(type="submit", class="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
